.form-container {
    align-items: flex-start;
}

form {
    width: 100%;
    max-width: 600px;
}

input, textarea {
    width: 100%;
    resize: none;
}

input.input--text, textarea.input--text {
    margin-left: 0;
    margin-right: 0;
}

button[type="submit"] {
    max-width: none;
    width: 100%;
    margin-right: none;
}