#season-dropdown {
    margin-left: 0;
}

#order-dropdown {
    margin-right: 1.6rem;
}

p.table-key {
    margin-top: 0.4rem;
    margin-bottom: 0rem;
}

.pagination {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.page-num {
    margin: 0 0.4rem;
    text-decoration: none;
    background-color: var(--page-num-bg);
    padding: 0.2rem 0.6rem;
    border-radius: 2px;
}

.page-num.current-page {
    background-color: var(--light-prpl);
    color: var(--bg);
}

.page-nav {
    text-decoration: none;
    margin: 0 0.4rem;
    text-decoration: none;
    background-color: var(--page-num-bg);
    padding: 0.2rem 0.6rem;
    border-radius: 2px;
}