h1.fixture-title {
    margin-bottom: 0.4rem;
}

.text--outline {
    color: black;
    -webkit-text-fill-color: var(--bg);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.heading--date {
    margin-bottom: var(--h2-size);
}

.stats {
    border-top: 1px solid var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
    /* max-width: 343px; */

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 1.6rem;
}

.stats__item {
    justify-self: center;
    align-self: center;
}

.team-logo {
    height: 48px;
}

p.stats__item {
    margin: 0;
}

p.goals-scored {
    letter-spacing: 0.6em;
    margin-right: -0.6em;
}


/* win probabilities */

.probs-container>h3 {
    margin-top: 1.2rem;
}

.probs-container {
    /* max-width: 343px; */

}

h3>.text--prpl{
    font-family: 'Radwave', sans-serif;
    color: var(--light-prpl);
}

h3>.text--outline {
    font-family: 'Radwave', sans-serif;
    color: black;
    -webkit-text-fill-color: var(--bg);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

h3>.text--green {
    font-family: 'Radwave', sans-serif;
    color: var(--light-green)
}

.bar {
    border: 1px solid var(--dark-grey);
    border-radius: 2px;
    margin-top: 0;
    margin-bottom: 0;
}

.bar__segment {
    height: 6.4rem;
    margin: 0;
    justify-content: center;
}

.bar__segment--home {
    background-color: var(--light-prpl);
}

.bar__segment--draw {
    background-color: var(--bg)
}

.bar__segment--away {
    background-color: var(--light-green);
}

.bar__segment>.prob {
    margin: 0;
}

.bar__segment--home>.prob,
.bar__segment--away>.prob {
    color: var(--bg);
}


/* goal matrix */

.matrix-heading-container {
    margin-bottom: 0;
    margin-top: 0;
}

.matrix {
    display: grid;
    grid-template-rows: repeat(8, 1fr) 0.5fr;
    grid-template-columns: 0.5fr repeat(8, 1fr);
    aspect-ratio: 1 / 1;
}

.cell {
    border-right: 1px solid var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell--left {
    border-left: 1px solid var(--dark-grey)
}

.cell--top {
    border-top: 1px solid var(--dark-grey)
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label--x {
    align-items: center;
    justify-content: flex-end;

}

.label--y {
    align-items: center;
    align-items: flex-start;
}

.label>p {
    margin: 0;
}

.label>p.prob {
    color: var(--dark-grey);
    font-size: 1.2rem;
    margin-top: 0.6rem;
    display: none;
}

.axes {
    margin-top: 1.2rem;
}

.axes>p {
    margin-bottom: 0.2rem;
}

p.cell__probability {
    font-size: 1.2rem;
    margin-top: 0.6rem;
    font-weight: 300;
    margin: 0;
}

#goal-probs-label {
    display: none;
}


@media screen and (min-width: 450px) {
    .label>p.prob {
        display: inline;
    }

    .label--x {
        margin-top: 0.4rem;
    }

    .label--y {
        margin-right: 0.4rem;
        align-items: center;
    }
}

@media screen and (min-width: 800px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .matrix-heading-container {
        display: none;
    }

    .goal-matrix {
        padding-top: 0;
        flex-grow: 0.7;
        margin-left: 0.8rem;
    }

    .win-probs {
        min-width: 320px;
    }

    #goal-probs-label {
        display: inline;
    }

}