{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/_base.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
  {% block styles %}
  {% endblock styles%}
  
  <title>Goal Lens</title>
</head>
<body>

  <header>
    <nav class="content-width">
      <img src="{% static 'images/logo.svg' %}" alt="Goal Lens Logo" id="logo-home">
      <div class="nav-items--right">
        <img class="nav__menu" src="{% static 'images/menu-icon.svg' %}" alt="menu" id="menu-icon">
        <img class="nav__menu-close hidden" src="{% static 'images/menu-icon-close.svg' %}" alt="close menu" id="menu-close">
        <a href="" class="nav__item"><p class="nav__text">Predictions</p></a>
        <a href="" class="nav__item"><p class="nav__text">Methodology</p></a>
        <a href="" class="nav__item"><p class="nav__text">Analysis</p></a>
      </div>
    </nav>
    <div class="mobile-menu"></div>
  </header>

  {% block content %}
  {% endblock content %}
  
  <footer>
    <p>Premier League | La Liga | Ligue 1 | Serie A | Bundesliga</p>
    <p>About | Contact</p>
    <p>&copy; Goal Lens</p>
  </footer>
  
  <script src="{% static 'js/nav.js' %}"></script>
  
</body>
</html>