{% extends '_base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}

  <section class="hero container--col">
    <img src="{% static 'images/welcome-to.svg' %}" alt="welcome to" class="hero__heading">
    <img src="{% static 'images/goal-lens.svg' %}" alt="goal lens" class="hero__graphic">
    <p id="hero__text">A prediction model for Europe's top 5 football leagues</p>
  </section>

  <section id="data-section">
    <h1>Five seasons of <span class="heading-accent">data</span></h1>
    <div class="content-container">
      <div class="text-container">
        <p>Goal Lens uses data from 2017 onwards, for all top-flight matches in england, spain, france, italy and germany.</p>
        <p>that's more than 9,000 fixtures which the model uses to learn from.</p>
      </div>
      <img class="graphic" src="{% static 'images/graphics/data.svg' %}" alt="laptop sorting data">
    </div>
  </section>

  <section id="analysis-section">
    <h1>Over <span class="heading-accent">10 million</span> predictions analysed</h1>
    <div class="content-container">
      <div class="text-container" id="predictions-text">
        <p>Many different prediciton strategies have been put to the test on historical data to improve the accuracy of the model.</p>
        <p>Strategies were refined iteratively through a genetic algorithm to hone in on the perfectly weighted set of parameters.</p>
      </div>
      <img class="graphic" src="{% static 'images/graphics/analysis.svg' %}" alt="data being analysed" id="analysis-graphic">
      <div class="center-contents"><button id="pred-btn" class="btn--primary">VIEW PREDICTIONS</button></div>
    </div>
  </section>

  <section id="green-line-section">
    <h1>All to produce a <span class="heading-accent">green line</span></h1>
    <div class="content-container">
      <div class="text-container" id="analysis-text">
        <p>Goal Lens makes accurate predictions.</p>
        <p>The outcomes of those predictions match the probabilities forecast by the model almost perfectly</p>
      </div>
      <div class="center-contents"><button id="analysis-btn" class="btn--primary">VIEW ANALYSIS</button></div>
    </div>
  </section>


  
{% endblock content %}

{% block scripts %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock scripts %}